body{text-align: center;}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}

td, th{padding: 5px 10px;}

header nav > a {
  text-decoration: none;
  background-color: lightgray;
  color: black;
  padding: 7px 15px;
  transition-duration: 0.5s;
}
header nav > a:hover {
  background-color: rgb(100, 100, 100);
  color: white;
  font-size: larger;
}

textarea{
  height: 450px;
}

.active{
  background-color: rgb(25, 25, 25);
  color: white;
}